.square{
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #fff;
}

.circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #fff;
}